grant {
    permission java.lang.RuntimePermission "loadLibrary.HNSWIndexJNI_V2_1_1";
    permission java.lang.RuntimePermission "loadLibrary.FAISSIndexJNI_V1_7_3";
    permission java.lang.RuntimePermission "getClassLoader";
    permission java.io.FilePermission "<<ALL FILES>>", "read,write";
};
